<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="text-center my-3">
        <h1 class="display-4">
            <a href="{{ url_for('web_index.index') }}" class="text-decoration-none text-black">게시판</a>
        </h1>
    </div>
    <br>
    <div class="container" style="width: 800px;">
        <div>
            <h3 class="fw-bold">제목 : {{ post.title }}</h3>
        </div>
        <div class="card">
        <div class="card-body">
            <p class="card=subtile"><small>작성일: {{ post.created_at }} | 작성자: {{ post.writer }}</small></p>
            <p class="card-text fs-5">{{ post.content }}</p>
            {% if post.file_name %}
            <a href="{{ url_for('web_detail.file',post_id=post.id) }}" class="card-link">{{ post.file_name }}</a>
            {% endif %}
        </div>    
        </div>
        <br>
        <div class="text-end">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='{{ url_for('web_modify.modify', post_id=post.id) }}'">수정</button>
            <button type="button" class="btn btn-danger">
                <a href="javascript:void(0)" id='delete' class='text-decoration-none text-white' data-uri="{{ url_for('web_delete.delete', post_id=post.id) }}">삭제</a>
            </button>
        </div>
    </div>
    
    <script type='text/javascript'>
    const delete_element = document.getElementById("delete");
    delete_element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
    </script>
</body>
</html>